
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    float:right;
    margin-top: 25px;
}
a:link,a:visited{
    display: block;

    color:#ffffff;
    
    width:180px;
    text-align: center;
    padding: 4px;
    text-transform: uppercase;
    text
}

a:hover,a:active{
    background-color: #fff;
    color:#000;
}
li{
    float:left;
}
#news{
    border-left: 2px solid black;
    float: right;
}

ul li{
display: inline-block;
}

ul li a{
    text-decoration: none;
    color:#fff;
    padding:5px 20px;
    border:1px solid #fff transparent;
    transition:0.6s ease;
}

.title{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.title h1{
    color:#fff;
    font-size:70px;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('bggg.jpg');
    height:100vh;
    background-size:cover;
    background-position:center;
}

.main{
    max-width:1200px;
    margin:auto;
}

#logo{
    float: left;
    height:auto;
    width:150px ;
}
.button{
    position:absolute;
    top:62%;
    left:50%;
    transform:translate(-50%,-50%);
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.btn{
    border:1px solid #fff;
    padding: 10px  30px;
    color:#fff;
    text-decoration: none;
    transition:0.6s ease;
}

.btn:hover{
    background-color:#fff;
    color :#000;
}
